{% extends "layout/main.html" %}

{% block styles %}{% endblock %}

{% block body %}

<div class="row">
	<div class="span4">
		<form method="POST">
			{% if form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ form[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

			{{ form.xpos.label }}
			{{ form.xpos(type='number') }}

			{{ form.ypos.label }}
			{{ form.ypos(type='number') }}

			{{ form.size.label }}
			{{ form.size(type='number') }}

			{{ form.color.label }}
			{{ form.color(type='color') }}
			<hr>
			<input type="submit" value="make circle">	

		</form>
	</div>

<div class="span5">
	<h3>{{num_circles}} circles</h3>
</div>

</div>

{% endblock %}
